*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
}

.navbar-collapse, .navbar-collapse .navbar-nav > li > a:hover, .navbar-collapse .navbar-nav > li > a:focus {
    background-color: #00bcd4;
}

ul li a, ul li a:hover, ul li a:active, ul li a:link, ul li a:focus {
    color: #fafafa;
}

.navbar-nav{
    margin-left: 80px;
}

.navbar-right{
    margin-right: 60px;
}

.ham-li{
    margin-top: 12px;
}

.head-li{
    margin-left: 35px;
}

.fa-bars{
    padding-top: 10px;
    color: #fafafa;
    cursor: pointer;
}

.hamburger{
    width: 30%;
}

.hamburger-border{
    border-right: 1px solid #e6e6e6;
}

.menu-off {
    position: absolute;
    left: -50%;
    width: 22%;
    display: block;
    min-height: 600px;
    height: 125%;
    transition: all 400ms;
}

.menu-on {
    left: 0;
    box-shadow: 8px 8px 20px -2px rgba(0, 0, 0, 0.2);
    transition: all 400ms;
}

.fa-cog{
    color: #fafafa;
    border-radius: 50px;
    padding: 10px;
    background-color: #009688;
    cursor: pointer;
}

.form-group{
    margin: 14px 0 0 20px;
}

.glyphicon-search{
    color: #c3c3c3;
    font-size: 12pt;
    border-right: 1px solid #c3c3c3;
}

p.notification-week{
    color: #00bcd4;
}

span.notification{
    color: #c3c3c3;
}

.profile{
    margin: 20px 0 0 20px;
}

.profile-pic{
    height: 70px;
    width: 70px;
    margin-bottom: 10px;
    /*border-radius: 50px;*/
}

p.profile-name{
    margin-bottom: 0;
}

p.profile-education{
    color: #c3c3c3;
}

.search-bar{
    margin-bottom: 10px;
}

input[type=text]{
    width: 200px;
    height: 38px;
    border-radius: 6px;
    text-align: center;
}

div.notifications{
    margin: 34px 0 0 20px;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0;}
.right-addon .glyphicon { right: 0;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


/* ------------- Fancy hamburger icon ------------- */
#nav-toggle { position: absolute; left: 50%; top: 50%; }
#nav-toggle { cursor: pointer; padding: 10px 35px 16px 0; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: '';
}
#nav-toggle span:before {
    top: -10px;
}
#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    transition: all 400ms ease-in-out;
}
#nav-toggle.active span {
    background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}
#nav-toggle.active span:before {
    transform: rotate(45deg);
}
#nav-toggle.active span:after {
    transform: rotate(-45deg);
}